body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-weight: 900;
  font-size: 1.3rem;
}

p {
  color: #8f8f8f;
}

/* Heading */

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section-title {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: white;
}

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #ffff;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  width: 30%;
  transform: rotate(30deg);
  position: absolute;
}

/* Feature Section */

#features {
  position: relative;
}

.feature-title {
  font-weight: 900;
  font-size: 1.3rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 25%;
  border-radius: 100%;
  margin: 20px;
  height: 200px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 4%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 4%;
}

.price-text {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

.card {
  height: 100%;
}

.pricing-button {
  margin: 5%;
  width: auto;
}

.pricing-column {
  padding-top: 3%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: auto;
  }
}

/* CTA Heading */

@media (max-width: 1028px) {
  #cta {
    text-align: center;
  }
}

#footer {
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
